body {
    width: 100%;
    height: 100%;
    background-color: aqua;
    position: relative;
    display: flex;
    justify-content: center;
    font-family: Arial;
}

.title {
    font-family: Roboto, Arial;
    color:cornflowerblue;
}

.input {
    margin-top: 5px;
}

.card {
    background-color: white;
    border-radius: 8px;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
    padding: 10px;
    width: 25%;
    justify-content: center;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 auto;

}

.inputs {
    display: flex;
    flex-direction: column;
    font-family: Arial;
}
.buttons{
    margin-top: 5px;
}
.button{
    background-color: darkolivegreen;
    border-radius: 3px;
    padding: 7px;
    border: none;
    color:white;
    font-size: 15px;
}
.result{
    margin-top: 10px;
}